
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        @ViewBag.Titl@{
            ViewBag.Title = "Cars Shop";
        }
    </title>
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@
    <link rel="stylesheet" href="~/css/Style.css" type="text/css">
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />*@
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>


<body>        
   
        <div id="background">
            <div id="page">
                <div id="header">
                    <div id="logo">
                        <a href="index.html"><img src="Images/logo.png" alt="LOGO"></a>
                    </div>
                    <div id="navigation">
                        <ul id="primary">
                            <li class="selected">
                                @Html.ActionLink("Home", "Index", "Home",  new { area = "" }, new { @class = "navbar-brand" })

                                @*<a href="~/Home/Index">Home</a>*@
                            
                            </li>
                                                        
                            <li>
                                @Html.ActionLink("Add/Remove Car", "ShowCars", "Home", new { area = "" }, new { @class = "navbar-brand" })
                                @*<a href="~/Home/ShowCars">Add/Remove Car</a>*@

                            </li>

                            <li>
                                <a href="new.html">New</a>
                            </li>

                            <li>
                                @Html.ActionLink("Faq", "Faq", "Home", new { area = "" }, new { @class = "navbar-brand" })
                            </li>
                            <li class="highlight">
                                <a href="sale.html">Sale Items</a>
                            </li>
                        </ul>
                        <ul id="secondary">
                            <li>
                                <a href="checkout.html">Cart</a>
                            </li>
                            <li>
                                <a href="index.html">Login</a> | <a href="index.html">Signup</a>
                            </li>
                        </ul>
                    </div>
                </div>
                

                <div class="container body-content">
                    @RenderBody()
                </div>


                <div id="footer">
                    <div class="background">
                        <div id="connect">
                            <h5>Get Social With us!</h5>
                            <ul>
                                <li>
                                    <a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" class="facebook"></a>
                                </li>
                                <li>
                                    <a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter"></a>
                                </li>
                                <li>
                                    <a href="http://www.freewebsitetemplates.com/go/googleplus/" target="_blank" class="linkin"></a>
                                </li>
                            </ul>
                        </div>
                        <ul class="navigation">
                            <li>
                                <h5>Mens</h5>
                                <a href="mens.html">Sneakers</a> <a href="mens.html">Boots</a> <a href="mens.html">Winter socks</a> <a href="mens.html">Lace-ups</a>
                            </li>
                            <li>
                                <h5>Womens</h5>
                                <a href="womens.html">Sneakers</a> <a href="womens.html">Boots</a> <a href="womens.html">Winter socks</a> <a href="womens.html">Lace-ups</a>
                            </li>
                            <li class="latest">
                                <h5>New Arrivals</h5>
                                <a href="new.html">Cheverlyn Zespax</a> <a href="new.html">Alta Ulterior</a> <a href="new.html">Mikee</a> <a href="new.html">Jeeroks Copy</a>
                            </li>
                            <li class="latest">
                                <h5>On Sale Items</h5>
                                <a href="sale.html">Cheverlyn Zespax</a> <a href="sale.html">Alta Ulterior</a> <a href="sale.html">Mikee</a> <a href="sale.html">Jeeroks Copy</a>
                            </li>
                        </ul>
                        <p class="footnote">
                            &copy; Copyirght &copy; 2011. <a href="index.html">Company name</a> all rights reserved.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
              


